In [5]:
from datetime import datetime
from pytz import timezone

In [6]:
# 日本のタイムゾーン
tokyo = timezone('Asia/Tokyo')

# 日本時間
now = datetime.now(tokyo)

# フォーマットを指定して現在の日時を表示
now.strftime('%Y年%m月%d日 %H:%M:%S')

'2025年06月26日 16:43:54'

In [7]:
now

datetime.datetime(2025, 6, 26, 16, 43, 54, 660307, tzinfo=<DstTzInfo 'Asia/Tokyo' JST+9:00:00 STD>)

In [8]:
import pandas_datareader.data as pdr
df = pdr.DataReader("9434.JP", "stooq")
df

               Open     High      Low    Close     Volume
Date
2025-06-25  219.600  219.900  216.700  216.700   55330400
2025-06-24  220.000  222.200  219.600  220.200   56345900
2025-06-23  217.500  218.700  216.200  217.700   51401200
2025-06-20  220.300  220.800  217.500  217.500  140423100
2025-06-19  217.600  220.300  217.100  220.000   41207400
...             ...      ...      ...      ...        ...
2020-07-03  109.261  109.419  108.224  108.823   56377623
2020-07-02  109.141  109.460  108.502  109.062   92076163
2020-07-01  109.100  109.820  108.063  108.304   88561503
2020-06-30  110.298  110.577  109.141  109.619   78523019
2020-06-29  109.619  109.858  108.862  109.141   91454023

[1221 rows x 5 columns]

In [10]:
df.index

DatetimeIndex(['2025-06-25', '2025-06-24', '2025-06-23', '2025-06-20',
               '2025-06-19', '2025-06-18', '2025-06-17', '2025-06-16',
               '2025-06-13', '2025-06-12',
               ...
               '2020-07-10', '2020-07-09', '2020-07-08', '2020-07-07',
               '2020-07-06', '2020-07-03', '2020-07-02', '2020-07-01',
               '2020-06-30', '2020-06-29'],
              dtype='datetime64[ns]', name='Date', length=1221, freq=None)

In [ ]:
from ../notebooks